html {
  background-color: #111;
  color: #F9F9F9;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

body {
  font-family: 'Avenir', lato, arial, sans-serif;
}

header {
  padding: 4rem;
}

section {
  margin: auto;
  padding: 6rem 4rem;
}

footer {
  border-top: solid 1px #696969;
  padding: 4rem 0;
}

footer .content {
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  font-weight: 300;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: #F9F9F9;
  font-weight: 300;
}

a {
  color: #F9F9F9;
  text-decoration: none;
  position: relative;
}

a.styled::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-16px);
  -moz-transform: translateY(-16px);
  transform: translateY(-16px);
}

a.styled:hover::after,
a.styled:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.content {
  padding: 0 6rem;
}


.logo {
  height: 2.5rem;
}

li {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}

.supporting-text {
  color: #696969;
}

.product-details {
  background-color: #182638;
  background-image: url('../img/background_product_details.png');
  background-repeat: no-repeat;
  background-position: center;
}

.benefit {
  position: relative;
  margin-bottom: 6rem;
  padding-left: 6rem;
}

.benefit-icon {
  position: absolute;
  left: 0;
  top: -0.5rem;
}

.product-details h3 {
  margin-bottom: 0;
}

.product-details p {
  margin-top: 0;
  color: #AAAAAA;
}

.technology,
.investors {
  background-color: #FFF;
  color: #111;
  text-align: center;
}

.technology p,
.investors p {
  margin: auto;
  color: #AAAAAA;
  font-weight: 400;
}

.tech-stack, 
.investor-list {
  margin: 2rem auto;
}

.tech-stack img {
  width: 8rem;
  max-height: 4rem;
  padding: 2rem;
  vertical-align: middle;
}

.investor-list img {
  width: 16rem;
  max-height: 8rem;
  padding: 4rem;
  vertical-align: middle;
}

.team {
  background-image: url('../img/background_team.png');
  background-size: cover;
}

.team-overview {
  float: right;
  width: 45%;
}

.team-members {
  width: 55%;
}

.team-member {
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 92px;
  letter-spacing: 0.2rem;
  white-space: nowrap;

}

.team-member:hover img {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  transition: filter 0.7s;
}

.team-member img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.8;
  vertical-align: middle;
  margin-right: 2rem;
  transition: filter 0.7s;
}

.jobs .content {
  display: flex;
  align-items: flex-start;
}

.jobs h3 {
  width: 55%;
  margin-top: 0;
  line-height: 2rem;
}

.job-openings {
  width: 45%;
}

.job-opening:not(:last-child) {
  margin-bottom: 4rem;
}

.job-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2rem;
}

.job-description {
  color: #AAA;
  line-height: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

a.job-apply-link {
  font-size: 1.25rem;
}

a.job-apply-link img {
  vertical-align: baseline;
  height: 1rem;
  padding-right: 0.5rem;
}

.contact {
  padding-left: 20%;
  width: 50%;
  font-size: 1.25rem;
  display: flex;
}

.contact .map {
  width: 120px;
  height: 120px;
  margin-right: 4rem;
  display: block;
}

.contact-address {
  padding-left: 4rem;
  position: relative;
}

.contact-address:not(:last-child) {
  margin-bottom: 2rem;
}

.contact-icon {
  width: 1.5rem;
  vertical-align: middle;
  position: absolute;
  left: 0;
  overflow: visible;
}

@media only screen and (min-width: 1025px) {
  h1, p {
    width: 60%;
  }

  .content {
    max-width: 1024px;
    margin: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .tech-stack img {
    width: 4rem;
    max-height: 2rem;
    padding: 2rem;
    vertical-align: middle;
  }

  .investor-list img {
    width: 8rem;
    max-height: 4rem;
    padding: 2rem;
    vertical-align: middle;
  }

  .team-overview {
    float: none;
    width: auto;
  }

  footer {
    padding: 2rem;
  }

  .contact {
    padding-left: 0;
  }

  footer .logo {
    display: none;
  }
}

@media only screen and (max-width: 670px) {

  li {
    font-size: 1rem;
  }

  .content {
    padding: 2rem 0;
  }

  .jobs .content {
    flex-direction: column;
  }

  .jobs h3 {
    display: none;
  }

  .job-openings {
    width: 100%;
  }

}



